					<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
					  <a class="navbar-brand" href="/">Correct English</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuprincipal" aria-controls="menuprincipal" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>

					  <div class="collapse navbar-collapse" id="menuprincipal">
							<ul class="navbar-nav mr-auto mt-2 mt-md-0">
								<li class="nav-item active">
									<a class="nav-link" href="#!">Foro</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!">Buscador</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!">Normas</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!">Ranking</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!">Portal de empleo</a>
								</li>
							</ul>
					  </div>

					
					
					
					
	<div th:switch="${session.user}">
		<div id="invisible"><li th:case="null">


	  <!-- Trigger the modal with a button -->
		<li data-toggle="modal" data-target="#myModal">Registro o Login</li>
		<i class="fas fa-user fa-2x" data-toggle="modal" data-target="#myModal"></i>	

	  <!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
    
	

      <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <nav>
                            <div class="nav nav-tabs" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-inicio-sesion" role="tab" aria-controls="nav-inicio-sesion">Inicio Sesión</a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-registro" role="tab" aria-controls="nav-registro">Registro</a>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="nav-inicio-sesion" role="tabpanel">
                                <!--Formulario de login-->
                                <form action="home" method="POST">
                                    <div class="form-group">
                                        <label for="">Alias</label>
                                        <input type="text" class="form-control" id="aliasLogin" name="alias" placeholder="Alias"/>
                                        <label for="">Constraseña</label>
                                        <input type="password" class="form-control" id="passwordLogin" name="contrasena" placeholder="Contraseña"/>
                                    </div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
										<button type="submit" class="btn btn-info">Confirmar</button>
									</div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-registro" role="tabpanel">
                                <!--Formulario de registro-->
                                <form action="/home/" method="POST" name="registro" id="registro">
                                    <div class="form-group">
                                        <label for="">Alias*</label>
										<input type="text" class="form-control" id="alias" name="alias" placeholder="Alias"/>
                                        <label for="">Contraseña*</label>
                                        <input type="password" class="form-control" id="password" name="contrasena" placeholder="Contraseña"/>
                                        <label for="">Confirmar contraseña*</label>
                                        <input type="password" class="form-control" id="password2" name="confirmarContrasena" placeholder="Confirmar contraseña"/>
                                        <label for="">Nombre*</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"/>
                                        <label for="">Primer apellido*</label>
										<input type="text" class="form-control" id="primerApellido" name="primerApellido" placeholder="Primer apellido"/>
                                        <label for="">Segundo apellido</label>
										<input type="text" class="form-control" id="segundoApellido" name="segundoApellido" placeholder="Segundo apellido"/>
                                        <label for="">Teléfono</label>
										<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono"/>
                                        <label for="">Email*</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email"/>
                                        <label for="">Sexo*</label><br/>
										<input type="radio" name="sexo" id="selSexo" value="Hombre" checked="checked"/>Hombre
										<input type="radio" name="sexo" id="selSexo" value="Mujer"/>Mujer
										<br/><br/><p><strong>*</strong> Campos obligatorios</p><br/>
										<div id="error"></div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
											<button type="submit" class="btn btn-info" value="Validar Persona" onsubmit="return validarPersona()">Confirmar</button>
										</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		</li></div>
		<li th:case="'admin'">Hola ADMIN. (<a href="/usuario/logout">Logout</a>)</li>
		<li th:case="*"><span th:text="'Hola ' +  ${session.user}"></span> (<a href="/usuario/logout">Logout</a>)</li>
	</div>
</nav>