<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />

</head>
<body>
	<!--<section class="bienvenidos">-->
	<div class="table-responsive">
	<table class="table table-sm-responsive">
		<tr class="color">
			<th class="apartado" colspan="4" style="font-size: 18px;font-weight: 700">Correcciones</th>
		</tr>
		<tbody>
			<tr class="table-secondary">
				<th class="tema foro" style="font-size: 15px;font-weight: 650;">Foro</th>
				<th style="font-size: 15px;font-weight: 650">Último mensaje</th>
				<th style="font-size: 15px;font-weight: 650">Temas</th>
				<th style="font-size: 15px;font-weight: 650">Mensajes</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/redacciones">Redacciones</a></th>
				<th th:if="${ultimasRespuestas['Redacciones']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['Redacciones'].id}" class="ulti">
						<div th:utext="${ultimasRespuestas['Redacciones'].titulo}">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['Redacciones']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['Redacciones']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/curriculums">Currículums</a></th>
				<th th:if="${ultimasRespuestas['Curriculums']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['Curriculums'].id}">
						<div th:utext="${ultimasRespuestas['Curriculums'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['Curriculums']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['Curriculums']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/cartas">Cartas de presentación</a></th>
				<th th:if="${ultimasRespuestas['Cartas']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['Cartas'].id}">
						<div th:utext="${ultimasRespuestas['Cartas'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['Cartas']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['Cartas']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/otrosC">Otros</a></th>
				<th th:if="${ultimasRespuestas['OtrosC']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['OtrosC'].id}">
						<div th:utext="${ultimasRespuestas['OtrosC'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['OtrosC']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['OtrosC']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
		</tbody>
		
	</table>
	</div>
	<hr/>
	<div class="table-responsive">
	<table class="table table-sm-responsive" style="margin-top:20px">
		<tr class="color">
			<th class="apartado" colspan="4" style="font-size: 18px;font-weight: 700">Dudas</th>
		</tr>
		<tbody>
			<tr class="table-secondary">
				<th class="tema foro" style="font-size: 15px;font-weight: 650;">Foro</th>
				<th id="fila" class="ulti" style="font-size: 15px;font-weight: 650">Último mensaje</th>
				<th style="font-size: 15px;font-weight: 650">Temas</th>
				<th style="font-size: 15px;font-weight: 650">Mensajes</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/expresiones">Expresiones</a></th>
				<th th:if="${ultimasRespuestas['Expresiones']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['Expresiones'].id}">
						<div th:utext="${ultimasRespuestas['Expresiones'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['Expresiones']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['Expresiones']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/gramatica">Gramática</a></th>
				<th th:if="${ultimasRespuestas['Gramatica']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['Gramatica'].id}">
						<div th:utext="${ultimasRespuestas['Gramatica'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['Gramatica']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['Gramatica']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/jerga">Jerga</a></th>
				<th th:if="${ultimasRespuestas['Jerga']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['Jerga'].id}">
						<div th:utext="${ultimasRespuestas['Jerga'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['Jerga']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['Jerga']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
			<tr>
				<th class="tema" style="font-size: 15px;font-weight: 500;"><a href="/post/otrosD">Otros</a></th>
				<th th:if="${ultimasRespuestas['OtrosD']}" style="font-size: 15px;font-weight: 500;">
					<a th:href="${'/respuesta/respuesta/' + ultimasRespuestas['OtrosD'].id}">
						<div th:utext="${ultimasRespuestas['OtrosD'].titulo}" class="ulti">	
						</div>
					</a>
				</th>
				<th th:unless="${ultimasRespuestas['OtrosD']}" style="font-size: 15px;font-weight: 500;">No hay temas</th>
				
				<th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${numeroRespuestas['OtrosD']}">	
					</div>
				</th>
				<th style="font-size: 15px;font-weight: 500;">n mens</th>
			</tr>
		</tbody>
	</table>
	</div>
	<!--</section>-->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>