<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<div class="col-md-9 personal-info">
<h3 style="margin-top:10px;" class="col-lg-4">Modificar Post</h3>

<form action="#" th:action="${'/post/modificarPost/' + pos.id}" method="POST" name="modificar" id="modificar" class="form-horizontal">
			<div class="form-group">
			  <label class="col-lg-4 control-label">Título:</label>
			  <div class="col-lg-8">
				<input class="form-control" type="text" name="titulo" id="titulo" />
				<div id="tituloPost"></div>
			  </div>
			</div>
			<div class="form-group">
			      <label class="col-lg-4 control-label">Mensaje:</label>
			  <div class="col-lg-8">
				<textarea class="form-control" name="contenido" id="contenido" rows="4" cols="50" placeholder="Escribe tu mensaje aquí" ></textarea>
				<div id="contenidoPost"></div>
			  </div>
			</div>
          <div class="form-group">
            <div class="col-md-12">
			  <button type="submit" class="btn btn-info" id="guardarCambios" value="Guardar Cambios" onclick="return validarCampos()">Guardar Cambios</button>
			  <input type="reset" class="btn btn-default" value="Cancelar" style="margin-bottom: 5px;"/>
            </div>
          </div>
        </form>
        </div>
        <script>
        function validarCampos(){
            var valido = true;
            var titulo = document.getElementById("titulo").value;
            var testTitulo = /^[\W\s\w]{1,50}$/i;

            var mensaje = document.getElementById("contenido").value;
            var testMensaje = /^[\W\s\w]{1,200}$/i;

            if (testTitulo.test(titulo)) {
              valido = true;
              document.getElementById("tituloPost").innerHTML = "Correcto";
              
            } else{
              valido = false;
              document.getElementById("tituloPost").innerHTML = "Este campo no debe de estar vacío";
              
            }

             if (testMensaje.test(mensaje)) {
               valido = true;
              document.getElementById("contenidoPost").innerHTML = "Correcto";
            } else {
              valido = false;
              document.getElementById("contenidoPost").innerHTML = "Este campo no debe de estar vacío";
            }

            return valido;
          }
        
        </script>