<head>
	<link rel="stylesheet" href="/css/post.css"></link>
</head>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="redacciones" colspan="4">Redacciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-secondary">
      <th class="tema">Tema</th>
      <th>Último mensaje</th>
      <th>Respuestas</th>
      <th>Visitas</th>
    </tr>
    <tr>
      <th class="tema">Nombre tema</th>
      <th>mensaje</th>
      <th>n resp</th>
      <th>n visit</th>
    </tr>
    <tr>
      <th class="tema">Nombre tema</th>
      <th>mensaje</th>
      <th>n resp</th>
      <th>n visit</th>
    </tr>
    <tr>
      <th class="tema">Nombre tema</th>
      <th>mensaje</th>
      <th>n resp</th>
      <th>n visit</th>
    </tr>
  </tbody>
</table>