
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/css/respuesta.css"></link>	
</head>
<body> 
        <div th:switch="${session.user}">
                <li th:case="null"></li>
                <li th:case="*">
                    <div class="temaypagina">
						<a th:href="${'/respuesta/crearRespuesta/' + post.id}"><button type="button" class="btn btn-primary nueva-respuesta">Responder</button></a><hr/>
                    </div>
                </li>
				
        </div>

        <div class="row" id="recuadro" style="width:100%">
            <div class="col-lg-2">

				<img th:if="${post.postSuyo.foto}" th:src="${post.postSuyo.foto}" class="rounded-circle" width="130" height="130" />
				<img th:unless="${post.postSuyo.foto}" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" width="130" height="130" /><br/>
            </div>
            	<div class="col-lg-10">
                    <strong><div th:text="${post.titulo + ' - ' + post.postSuyo.alias}" name="titulo" id="titulo" class="card-title"></div></strong>
                    <div th:text="${post.contenido}" name="contenido" id="contenido" class="card-text text-justify"></div>
                     
                    <div th:switch="${session.user}" class="iconos">
						<div th:case="null">
						</div>
						<span th:case="${post.postSuyo.alias}">
							<a class="colorIcono" th:href="${'/post/modificarPost/' + post.id}"><i class="fas fa-edit fa-lg"></i></a>
						</span>
						<!-- <a class="colorIcono" href=""><i class="far fa-thumbs-up fa-lg"></i></a>
						<a class="colorIcono" href=""><i class="far fa-thumbs-down fa-lg"></i></a>
						<a class="colorIcono" href=""><i class="fas fa-reply fa-lg"></i></a>-->
                    </div>
				</div>
		</div>
        <span id="spanner"></span>
		
            <div th:each = "respuesta: ${respuestas}">
				<hr/>
				<div>					
					<div class="row" id="recuadro" style="width:100%">
						<div class="col-lg-2">
							<img th:if="${respuesta.respuestaSuya.foto}" th:src="${respuesta.respuestaSuya.foto}" class="rounded-circle" width="130" height="130" />
							<img th:unless="${respuesta.respuestaSuya.foto}" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" width="130" height="130" /><br/>
						</div>
							<div class="col-lg-10">
							    <strong><div th:text="${respuesta.respuestaSuya.alias}"></div></strong>
								<div th:text="${respuesta.contenido}" name="contenido" id="contenido" class="card-text text-justify"></div>
								 
								<div th:switch="${session.user}" class="iconos">
									<div th:case="null">
									</div>
									<span th:case="${respuesta.respuestaSuya.alias}">
										<a class="colorIcono" th:href="${'/respuesta/modificarRespuesta/' + respuesta.id}"><i class="fas fa-edit fa-lg"></i></a>
									</span>	
									<span th:text="${respuesta.likes}"></span>
									<a id="like" class="colorIcono" th:href="${'/respuesta/like/' + respuesta.respuestaSuya.id + '/' + respuesta.id}"><i class="far fa-thumbs-up fa-lg"></i></a>
									<span th:text="${respuesta.dislikes}"></span>
									<a id="dislike" class="colorIcono" th:href="${'/respuesta/dislike/' + respuesta.respuestaSuya.id + '/' + respuesta.id}"><i class="far fa-thumbs-down fa-lg"></i></a>
									<a class="colorIcono" href=""><i class="fas fa-reply fa-lg"></i></a>
								</div>
							</div>
					</div>
				</div>
			</div>


<div th:switch="${session.user}">
		<li th:case="null"></li>
		<li th:case="*">
		<hr/>
			<div class="temaypagina">
                    <a th:href="${'/respuesta/crearRespuesta/' + post.id}"><button type="button" class="btn btn-primary nueva-respuesta">Responder</button></a>
			</div>
		</li>
</div>
</body>