<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/portal.css" />
</head>
<div class="container">    
  <div class="row">
    <div class="col-sm-4" style="margin-top:10px;">
      <div class="panel panel-primary shadow p-3 mb-5 bg-white rounded">
        <div class="panel-heading text-center">Titulo</div>
        <div class="panel-body text-center"><img src="https://picsum.photos/150/80/?random" class="img-responsive" style="width:100%" alt="Image"/></div>
        <div class="panel-footer text-center">Descripcion</div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top:10px;"> 
      <div class="panel panel-danger shadow p-3 mb-5 bg-white rounded">
        <div class="panel-heading text-center">Titulo</div>
        <div class="panel-body text-center"><img src="https://picsum.photos/150/80/?random" class="img-responsive" style="width:100%" alt="Image"/></div>
        <div class="panel-footer text-center">Descripcion</div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top:10px;"> 
      <div class="panel panel-success shadow p-3 mb-5 bg-white rounded">
        <div class="panel-heading text-center">Titulo</div>
        <div class="panel-body text-center"><img src="https://picsum.photos/150/80/?random" class="img-responsive" style="width:100%" alt="Image"/></div>
        <div class="panel-footer text-center">Descripcion</div>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary shadow p-3 mb-5 bg-white rounded">
        <div class="panel-heading text-center">Titulo</div>
        <div class="panel-body text-center"><img src="https://picsum.photos/150/80/?random" class="img-responsive" style="width:100%" alt="Image"/></div>
        <div class="panel-footer text-center">Descripcion</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary shadow p-3 mb-5 bg-white rounded">
        <div class="panel-heading text-center">Titulo</div>
        <div class="panel-body text-center"><img src="https://picsum.photos/150/80/?random" class="img-responsive" style="width:100%" alt="Image"/></div>
        <div class="panel-footer text-center">Descripcion</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary shadow p-3 mb-5 bg-white rounded">
        <div class="panel-heading text-center">Titulo</div>
        <div class="panel-body text-center"><img src="https://picsum.photos/150/80/?random" class="img-responsive" style="width:100%" alt="Image"/></div>
        <div class="panel-footer text-center">Descripcion</div>
      </div>
    </div>
  </div>
  </div>
