<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/ranking.css" />
</head>
<table class="table table-hover">
    <thead class="table-info">
        <tr >
            <th>Posición</th>
            <th>Alias</th>
            <th>Nombre</th>
            <th>Puntuación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>432452</th>
        </tr>
        <tr>
            <th>2</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>6765765</th>
        </tr>
        <tr>
            <th>3</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>2346</th>
        </tr>
        <tr>
            <th>4</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>65413</th>
        </tr>
        <tr>
            <th>5</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>65413</th>
        </tr>
        <tr>
            <th>6</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>65413</th>
        </tr>
        <tr>
            <th>7</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>65413</th>
        </tr>
        <tr>
            <th>8</th>
            <th>Juan123</th>
            <th>Juan</th>
            <th>65413</th>
        </tr>
    </tbody>
</table>