body {
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    background-color: #a6e3e9;
}

.bold {
    font-weight: bold;
}

#errorNombre, #errorPrimerApellido, #errorSegundoApellido, #errorEmail, #errorTelefono{
	color: red;
}