th{
	text-align: center;
}

.tema {
	width: 70%;
	text-align: left;
}

.redacciones {
	text-align: left;
}

.nuevotema{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.paginas{
	float: right;
	line-height: normal;
}

.temaypagina{

}