th{
	text-align: center;
}

.tema {
	width: 70%;
	text-align: left;
}

.redacciones {
	text-align: left;
}

.nuevotema{
	margin-top: 5px;
	margin-bottom: 5px;
}

#foro{
	color: black;
}

.apartado {
	background-color: #cbf1f5;
	text-align: left;
}