<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- CSS para la página del perfil-->
  <link rel="stylesheet" th:href="@{/css/perfil.css}" />
  <!-- Fuente -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
</head>

<body>
  <div class="card-body">
    <div class="row">

      <div class="col-md-3">
        <div class="text-center">
		  <img th:if="${ajeno.foto}" th:src="${ajeno.foto}" height="166" />
		  <img th:unless="${ajeno.foto}" th:src="@{http://ssl.gstatic.com/accounts/ui/avatar_2x.png}" height="166" /><br/>
        </div>
		
		<div th:switch="${session.user}">
			<li th:case="null"></li>
			<li th:case="admin">	
				<a th:if="${ajeno.activo == 0}" th:href="@{'/suspenderCuenta/' + ${ajeno.id} + '/' + ${ajeno.activo}}" onclick="alert('Se ha activado la cuenta correctamente')"><input type="button" class="btn btn-success" id="suspenderUsuario" value="Activar cuenta" style="margin:5px 0px 0px 50px;"/></a>
				<a th:unless="${ajeno.activo == 0}" th:href="@{'/suspenderCuenta/' + ${ajeno.id} + '/' + ${ajeno.activo}}" onclick="alert('Se ha deshabilitado la cuenta correctamente')"><input type="button" class="btn btn-danger" id="suspenderUsuario" value="Suspender cuenta" style="margin:5px 0px 0px 35px;"/></a>
			</li>
			
			<li th:case="*">
				<div class="text-center">
					<label class="col-md-3 control-label"></label>
					<div class="text-center">
					  <a th:if="${ajeno.activo == 1}" th:href="@{'/usuario/mensajePrivado/' + ${ajeno.id}}"><button type="button" class="btn btn-secondary" id="enviarMensaje" value="Enviar mensaje">Enviar mensaje</button></a>
					</div>
				</div>
			</li>
		</div>
		
      </div>

      <div class="col-md-9 personal-info">
        <h3>Datos de usuario</h3>

          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Alias:</strong></label>
            <div class="col-lg-8">
              <td th:text="${ajeno.alias}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Nombre:</strong></label>
            <div class="col-lg-8">
			  <td th:text="${ajeno.nombre}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Primer apellido:</strong></label>
            <div class="col-lg-8">
              <td th:text="${ajeno.primerApellido}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Segundo Apellido:</strong></label>
            <div class="col-lg-8">
              <td th:text="${ajeno.segundoApellido}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Telefono:</strong></label>
            <div class="col-md-8">
              <td th:text="${ajeno.telefono}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Sexo:</strong></label>
            <div class="col-md-8">
              <td th:text="${ajeno.sexo}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Estado de cuenta:</strong></label>
            <div class="col-md-8">
              <td th:text="${ajeno.activo == 1} ? 'Activado' : 'Desactivado' "></td>
            </div>
          </div>
      </div>
    </div>
  </div>
  <hr>
  </hr>
  <div class="card-body">
    <h3 class="text-center">Estadísticas</h3>
    <div class="row">
      <div class="col-md-6 form-group text-center">
        <label><strong>Puntos</strong></label>
        <div>
          <td th:text="${ajeno.puntos}"></td>
        </div>
      </div>
      <div class="col-md-6 form-group text-center">
        <label><strong>Nº publicaciones</strong></label>
        <div>
          <td th:text="${todosPost}"></td>
        </div>
      </div>
      <div class="col-md-6 form-group text-center">
        <label><strong>Nº respuestas</strong></label>
        <div>
          <td th:text="${todasRespuestas}"></td>
        </div>
      </div>
    </div>
  </div>
</body>

</html>