<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/index.css" />
  <!-- CSS para la página del perfil-->
  <link rel="stylesheet" href="/css/perfil.css" />
  <!-- Fuente -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
</head>

<script>
function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
</script>

<body>
  <div class="card-body">
    <div class="row">

      <div class="col-md-3">
        <div class="text-center">
          <!--<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" alt="avatar" /> -->
          <!-- <input type="file" class="form-control" /> -->
		  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="166" alt="Image preview..." /><br/>
		  <input type="file" style="width: 175px;" onchange="previewFile()"></input>
        </div>
      </div>

      <div class="col-md-9 personal-info">
        <h3>Datos de usuario</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Alias:</strong></label>
            <div class="col-lg-8">
              <td th:text="${session.userData.alias}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Nombre:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" type="text" th:value="${session.userData.nombre}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Primer apellido:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" type="text" th:value="${session.userData.primerApellido}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Segundo Apellido:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" type="text" th:value="${session.userData.segundoApellido}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Email:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" type="text" th:value="${session.userData.email}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Telefono:</strong></label>
            <div class="col-md-8">
              <input class="form-control" type="text" th:value="${session.userData.telefono}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Sexo:</strong></label>
            <div class="col-md-8">
              <td th:text="${session.userData.sexo}"></td>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-info" value="Guardar cambios" />
              <input type="reset" class="btn btn-default" value="Cancelar" />
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
  <hr>
</hr>
<div class="card-body">
  <h3 class="text-center">Estadísticas</h3>
  <div class="form-group">
    <label class="col-lg-3 control-label"><strong>Número de post:</strong></label>
    <div class="col-lg-8">
      <td>63</td>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label"><strong>Puntos:</strong></label>
    <div class="col-lg-8">
      <td>3432432</td>
    </div>
  </div>
  </div>
</body>

</html>