<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- CSS para la página del perfil-->
  <link rel="stylesheet" href="/css/perfil.css" />
  <!-- Fuente -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
</head>

<script>
	function previewFile() {
	  var preview = document.querySelector('img');
	  var file    = document.querySelector('input[type=file]').files[0];
	  var reader  = new FileReader();

	  reader.onloadend = function () {
		preview.src = reader.result;
		document.getElementById("imgString").value = reader.result;
		console.log(document.getElementById("imgString").value);
	  }

	  if (file) {
		reader.readAsDataURL(file);
	  } else {
		preview.src = "";
	  }
	}
	
	function validarNombre(){
		var esValido = true;
		var nombre = document.getElementById("nombre").value;
		var nombreBien = new RegExp ("^([a-záéíóúçA-ZÁÉÍÓÚç]{2,20})$");
		var comprobarNombre = nombreBien.test(nombre);
		if(comprobarNombre == false){
			esValido = false;
			document.getElementById("nombre").focus();
			document.perfil.nombre.style.color="red";
		}else{
			esValido = true;
			document.perfil.nombre.style.color="";
		}
		return esValido;
	}
	
	function validarPrimerApellido(){
		var esValido = true;
		var primerApellido = document.getElementById("primerApellido").value;
		var primerApellidoBien = /^[a-záéíóúçA-ZÁÉÍÓÚ]{2,40}$/;
		var comprobarPrimerApellido = primerApellidoBien.test(primerApellido);
		if(comprobarPrimerApellido == false){
			esValido = false;
			document.getElementById("primerApellido").focus();
			document.perfil.primerApellido.style.color="red";
		}else{
			esValido = true;
			document.perfil.primerApellido.style.color="";
		}
		return esValido;
	}
	
	function validarSegundoApellido(){
		var esValido = true;
		var segundoApellido = document.getElementById("segundoApellido").value;
		var segundoApellidoBien = /^([a-záéíóúçA-ZÁÉÍÓÚ]{2,40})?$/;
		var comprobarSegundoApellido = segundoApellidoBien.test(segundoApellido);
		if(comprobarSegundoApellido == false){
			esValido = false;
			document.getElementById("segundoApellido").focus();
			document.perfil.segundoApellido.style.color="red";
		}else{
			esValido = true;
			document.perfil.segundoApellido.style.color="";
		}
		return esValido;
	}
	
	function validarTelefono(){
		var esValido = true;
		var telefono = document.getElementById("telefono").value;
		var telefonoBien = new RegExp (/^([0-9]{9})?$/);
		var comprobarTelefono = telefonoBien.test(telefono);
		if(comprobarTelefono == false){
			esValido = false;
			document.getElementById("telefono").focus();
			document.perfil.telefono.style.color="red";
		}else{
			esValido = true;
			document.perfil.telefono.style.color="";
		}
		return esValido;
	}
	
	function validarEmail(){
		var esValido = true;
		var email = (document.getElementById("email").value).toLowerCase();
		var emailBien = new RegExp ("^[a-z0-9]{1}[a-z0-9.-_]+@[a-z]+(\\.[a-z]{2,4})+$");
		var comprobarEmail = emailBien.test(email);
		if(comprobarEmail == false){
			esValido = false;
			document.getElementById("email").focus();
			document.perfil.email.style.color="red";
		}else{
			esValido = true;
			document.perfil.email.style.color="";
		} 
		return esValido;
	}
	
	function validarPersona(){
		var nombre = document.getElementById("nombre").value;
		var primerApellido = document.getElementById("primerApellido").value;
		var segundoApellido = document.getElementById("segundoApellido").value;
		var telefono = document.getElementById("telefono").value;
		var email = document.getElementById("email").value;
		

		
		if(validarNombre() != true){
			return false;
		}else if(validarPrimerApellido() != true){
				return false;
		}else if(validarSegundoApellido() != true){
				return false;
		}else if(validarTelefono() != true){
			return false;	
		}else if(validarEmail() != true){
				return false;
		}
		else{
			return true;
		}	        
	}
</script>

<body>
  <div class="card-body">
    <div class="row">

      <div class="col-md-3">
        <div class="text-center">
          <!--<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" alt="avatar" /> -->
          <!-- <input type="file" class="form-control" /> -->
		  <img th:if="${session.userData.foto}" th:src="${session.userData.foto}" height="166" alt="Image preview..." />
		  <img th:unless="${session.userData.foto}" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="166" alt="Image preview..." /><br/>
		  <input type="file" style="width: 175px;" onchange="previewFile()"></input>
        </div>
      </div>

      <div class="col-md-9 personal-info">
        <h3>Datos de usuario</h3>

        <form action="/perfil" method="POST" name="perfil" id="perfil" class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Alias:</strong></label>
            <div class="col-lg-8">
              <td th:text="${session.userData.alias}"></td>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Nombre:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" id="nombre" name="nombre" type="text" th:value="${session.userData.nombre}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Primer apellido:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" id="primerApellido" name="primerApellido" type="text" th:value="${session.userData.primerApellido}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Segundo Apellido:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" id="segundoApellido" name="segundoApellido" type="text" th:value="${session.userData.segundoApellido}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><strong>Email:</strong></label>
            <div class="col-lg-8">
              <input class="form-control" id="email" name="email" type="text" th:value="${session.userData.email}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Telefono:</strong></label>
            <div class="col-md-8">
              <input class="form-control" id="telefono" name="telefono" type="text" th:value="${session.userData.telefono}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"><strong>Sexo:</strong></label>
            <div class="col-md-8">
              <td th:text="${session.userData.sexo}"></td>
            </div>
          </div>
		  <div class="form-group">
			<div class="col-md-8">
				<a href="/usuario/cambiarContrasena">Cambiar contrasena</a>
			</div>
		  </div>
		  <input th:if="${session.userData.foto}" type="hidden" id="imgString" name="imgString" th:value="${session.userData.foto}" />
		  <input th:unless="${session.userData.foto}" type="hidden" id="imgString" name="imgString" value="" />

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
			  <button type="submit" class="btn btn-info" id="guardarCambios" value="Guardar Cambios" onclick="return validarPersona()">Guardar Cambios</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <hr>
  </hr>
  <div class="card-body">
    <h3 class="text-center">Estadísticas</h3>
    <div class="row">
      <div class="col-md-6 form-group text-center">
        <label><strong>Número de post</strong></label>
        <div>
          <td>63</td>
        </div>
      </div>
      <div class="col-md-6 form-group text-center">
        <label><strong>Puntos</strong></label>
        <div>
          <td>3432432</td>
        </div>
      </div>
    </div>
  </div>
</body>

</html>